<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Country Edit</h1>
</div>
<div class="card mb-40">
    <div class="card-header">
        <i class="fa fa-edit"></i> Edit
    </div>
    <div class="card-body">
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="code">Code *</label>
                        <input type="text" class="form-control" id="code" [(ngModel)]="item.code" name="code" #code="ngModel" required>
                        <div class="invalid-feedback">Value is required</div>
                    </div>
                    <div class="form-group">
                        <label for="name">Name *</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="item.name" name="name" #name="ngModel" required>
                        <div class="invalid-feedback">Value is required</div>
                    </div>
                    <!-- RELATIONS -->
                    


                    <h2 *ngIf="externalPartner_country[0] || externalOrganization_country[0] || externalLessor_country[0]">External Relations</h2>
        
                        <h3 *ngIf="externalPartner_country[0]">Partner</h3>
                        <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of externalPartner_country">{{item._id}}</li>
                        </ul>
                        <h3 *ngIf="externalOrganization_country[0]">Organization</h3>
                        <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of externalOrganization_country">{{item._id}}</li>
                        </ul>
                        <h3 *ngIf="externalLessor_country[0]">Lessor</h3>
                        <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of externalLessor_country">{{item._id}}</li>
                        </ul>

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid, item)">Save</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Back To List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>