<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Account List</h1>
</div>

<!-- SEARCH FORM -->
<div class="card">

    <div class="card-header">
        <i class="fa fa-search"></i> Search
    </div>
    <div class="card-body">
        <form #searchForm="ngForm">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="channel">Channel</label>
                        <select name="channel" id="channel" [(ngModel)]="search.channel" class="form-control" #channel="ngModel">
                            <option value="Direct">Direct</option>
                            <option value="Indirect">Indirect</option>
                            <option value="Online">Online</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" [(ngModel)]="search.description" name="description" #description="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="maxcredit">Maxcredit</label>
                        <input type="number" class="form-control" id="maxcredit" [(ngModel)]="search.maxcredit" name="maxcredit" #maxcredit="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="search.name" name="name" #name="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="retailcorpthreshold">Retailcorpthreshold</label>
                        <input type="number" class="form-control" id="retailcorpthreshold" [(ngModel)]="search.retailcorpthreshold" name="retailcorpthreshold" #retailcorpthreshold="ngModel">
                    </div>
                    <div class="form-group ">
                        <input type="checkbox" [(ngModel)]="search.revolving" name="revolving">
                        <label>Revolving</label>
                    </div>
                    <div class="form-group">
                        <label for="segment">Segment</label>
                        <select name="segment" id="segment" [(ngModel)]="search.segment" class="form-control" #segment="ngModel">
                            <option value="Large">Large</option>
                            <option value="Medium">Medium</option>
                            <option value="Small">Small</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- TABLE -->
<table class="table mt-40">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">channel</th>
            <th scope="col">description</th>
            <th scope="col">maxcredit</th>
            <th scope="col">name</th>
            <th scope="col">retailcorpthreshold</th>
            <th scope="col">revolving</th>
            <th scope="col">segment</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list | search: { 'channel': search.channel, 'description': search.description, 'maxcredit': search.maxcredit, 'name': search.name, 'retailcorpthreshold': search.retailcorpthreshold, 'revolving': search.revolving, 'segment': search.segment }">
            <!-- ATTRIBUTES -->
            <td>
                <a [routerLink]="['/accounts', item._id]">{{item._id}}</a>
            </td>
            <td>{{item.channel }}</td>
            <td>{{item.description }}</td>
            <td>{{item.maxcredit }}</td>
            <td>{{item.name }}</td>
            <td>{{item.retailcorpthreshold }}</td>
            <td>{{item.revolving }}</td>
            <td>{{item.segment }}</td>

            <!-- DELETE BUTTON -->
            <td>
                <button class="btn btn-danger text-center" data-toggle="modal" data-target="#deleteModal" (click)="selectId(item._id)">
                    <span>
                        <i class="fa fa-trash"></i>
                    </span>
                </button>
            </td>
        </tr>
    </tbody>
    <div class="no-result" *ngIf="(list | search: {   'channel': search.channel ,  'description': search.description ,  'maxcredit': search.maxcredit ,  'name': search.name ,  'retailcorpthreshold': search.retailcorpthreshold ,  'revolving': search.revolving ,  'segment': search.segment  }).length == 0">
        No items found
    </div>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-times-circle"></i>&nbsp;&nbsp;Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want remove item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteItem()">YES</button>
            </div>
        </div>
    </div>
</div>

<!-- BUTTON -->
<button class="btn btn-primary text-center pull-right mb-20" routerLink="/accounts/new">
    <span>
        <i class="fa fa-plus"></i>
    </span>
</button>

<div class="clearfix"></div>