<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/accounts" routerLinkActive="active">Link to List Account</a>
    </div>
    <div>
        <a routerLink="/countrys" routerLinkActive="active">Link to List Country</a>
    </div>
    <div>
        <a routerLink="/creditlines" routerLinkActive="active">Link to List CreditLine</a>
    </div>
    <div>
        <a routerLink="/lessors" routerLinkActive="active">Link to List Lessor</a>
    </div>
    <div>
        <a routerLink="/organizations" routerLinkActive="active">Link to List Organization</a>
    </div>
    <div>
        <a routerLink="/partners" routerLinkActive="active">Link to List Partner</a>
    </div>
    <div>
        <a routerLink="/products" routerLinkActive="active">Link to List Product</a>
    </div>
 <!-- END LINKS -->
</div>