<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Lessor List</h1>
</div>

<!-- SEARCH FORM -->
<div class="card">

    <div class="card-header">
        <i class="fa fa-search"></i> Search
    </div>
    <div class="card-body">
        <form #searchForm="ngForm">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="externalid">Externalid</label>
                        <input type="text" class="form-control" id="externalid" [(ngModel)]="search.externalid" name="externalid" #externalid="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="genesis">Genesis</label>
                        <input type="text" class="form-control" id="genesis" [(ngModel)]="search.genesis" name="genesis" #genesis="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="search.name" name="name" #name="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="number">Number</label>
                        <input type="text" class="form-control" id="number" [(ngModel)]="search.number" name="number" #number="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="share">Share</label>
                        <input type="number" class="form-control" id="share" [(ngModel)]="search.share" name="share" #share="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select name="type" id="type" [(ngModel)]="search.type" class="form-control" #type="ngModel">
                            <option value="Athlon">Athlon</option>
                            <option value="JV">JV</option>
                            <option value="Label">Label</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- TABLE -->
<table class="table mt-40">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">externalid</th>
            <th scope="col">genesis</th>
            <th scope="col">name</th>
            <th scope="col">number</th>
            <th scope="col">share</th>
            <th scope="col">type</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list | search: { 'externalid': search.externalid, 'genesis': search.genesis, 'name': search.name, 'number': search.number, 'share': search.share, 'type': search.type }">
            <!-- ATTRIBUTES -->
            <td>
                <a [routerLink]="['/lessors', item._id]">{{item._id}}</a>
            </td>
            <td>{{item.externalid }}</td>
            <td>{{item.genesis }}</td>
            <td>{{item.name }}</td>
            <td>{{item.number }}</td>
            <td>{{item.share }}</td>
            <td>{{item.type }}</td>

            <!-- DELETE BUTTON -->
            <td>
                <button class="btn btn-danger text-center" data-toggle="modal" data-target="#deleteModal" (click)="selectId(item._id)">
                    <span>
                        <i class="fa fa-trash"></i>
                    </span>
                </button>
            </td>
        </tr>
    </tbody>
    <div class="no-result" *ngIf="(list | search: {   'externalid': search.externalid ,  'genesis': search.genesis ,  'name': search.name ,  'number': search.number ,  'share': search.share ,  'type': search.type  }).length == 0">
        No items found
    </div>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-times-circle"></i>&nbsp;&nbsp;Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want remove item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteItem()">YES</button>
            </div>
        </div>
    </div>
</div>

<!-- BUTTON -->
<button class="btn btn-primary text-center pull-right mb-20" routerLink="/lessors/new">
    <span>
        <i class="fa fa-plus"></i>
    </span>
</button>

<div class="clearfix"></div>